@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Ubuntu:wght@500&display=swap');

.header ion-icon {
  font-size: 24px;
  color: white;
  pointer-events: none;
}

.hover-button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.max-width-of-page {
  max-width: 1100px
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.004);
  backdrop-filter: blur( 13px );
  -webkit-backdrop-filter: blur( 13px );
}

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.background-fixed {
  background-attachment: fixed;
}

.glassmorphism-dark {
  background: rgba(255, 255, 255, 0.181);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
}

.h-160 {
  height: 40rem;
}

.min-h-160 {
  min-height: 40rem;
}

.bg-glass {
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
